.dropdown-menu {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 0%;
	height: 92vh;
	overflow: hidden;
	opacity: 0;
	background-color: rgb(69, 0, 20);
	animation: 10s infinite bg-change;
	transition: all 0.2s ease-in-out;
}

.menu-nav-link {
	/* width: 100%; */
	padding: 1rem 0;

	color: inherit;
	border-bottom: 1px solid black;

	text-align: center;
	font-size: 24pt;
	letter-spacing: 0.2rem;
	text-decoration: none;
	animation: 10s infinite border-change;
}

.enabled {
	width: 100%;
	opacity: 1;
}

.plant {
	font-size: 5rem;
	margin: 2rem;
	animation: 10s infinite plant-change;
}

@keyframes bg-change {
	0% {
		background-color: rgb(120, 104, 31);
	}

	50% {
		background-color: rgb(62, 2, 9);
	}

	100% {
		background-color: rgb(120, 104, 31);
	}
}

@keyframes border-change {
	0% {
	border-bottom: 1px solid black;
	}

	50% {
	border-bottom: 1px solid rgba(250, 248, 248, 0.785);
	}

	100% {
	border-bottom: 1px solid black;
	}
}

@keyframes plant-change {
	0% {
		color: rgba(250, 248, 248, 0.785);
	}

	50% {
		color: rgb(26, 75, 33);
	}

	100% {
		color: rgba(250, 248, 248, 0.785);
	}
}