.dropdown-menu {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 50%;
	max-height: 0px;
	overflow: hidden;

	background-color: rgb(101, 155, 169);
	transition: max-height 0.3s ease-in-out;
}

.menu-nav-link {
	width: 100%;
	padding: 0.5rem 0;

	border-bottom: 1px solid black;
	color: inherit;

	text-align: center;
	text-decoration: none;
	letter-spacing: 0.2rem;
}

.enabled {
	max-height: 100px;
}